html{
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}

.conatiner{
    width: 1200px;
    margin: 0 auto;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}
.table tr td:first-child, .table tr th:first-child {
    border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
    border-right: none;
}
.date{
    width: 100px;
}

.actions{
    display: flex;
    padding: 5px;
    font-size: 1em;
}
.actions select{
    padding:8px;
    border-radius: 10px;

}
.sites{
    flex:1;
    text-align: right;
}

.tags{
    display: flex;

}
.tag {
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #d9d9d9;
    transition: all 0.3s;

}
.tag:hover{
    box-shadow: inset 1px 1px 10px #d9d9d9;
}

.active{
    background-color: #008f86;
    color: #fff;


}