html{
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}

.header{
    display: flex;
    justify-content: space-between;
}

.conatiner{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.select_lang span{
    margin-left: 2px;
}
.select_lang span::after{
    content: '/';
    margin-left: 2px;
    color: #718096 !important;
}
.select_lang span:nth-last-child(1)::after{
    content: ''
}
.table{
    color: #718096;
    text-decoration: none;
    font-size: 0.9em;
}
.table a,
.table_tag,
.select_lang span{
    color: #718096;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
.table a:hover,
.table_tag:hover,
.select_lang span:hover{
    color: #333436;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    border: 1px solid #fff;
    background-color: #008f86;
    color: #fff;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}
.table tr td:first-child, .table tr th:first-child {
    border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
    border-right: none;
}
.date{
    width: 100px;
}

.actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 1em;
}
.actions select{
    padding:8px;
    border-radius: 10px;

}


.tags{
    display: flex;
    transition: 0.3s;
}
.tag {
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #d9d9d9;
    transition: all 0.3s;
    display: flex;

}
.tag:hover{
    box-shadow: inset 1px 1px 10px #d9d9d9;
}


.active{
    background-color: #008f86;
    color: #fff;
}
.disabled{
    opacity: 0.5;
}
.tag_hidde{
    /*display: none;*/
    overflow: hidden;
    width: 0px;
    transition: all 0.3s;

}
.tag:hover .tag_hidde{
    /*display: block;*/
    transition: all 0.3s;
    overflow: visible;
    width: fit-content;
}

span.active_text{
    color: #333436;
}
.close{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.select_lang .close {
    font-size: 0.6em;
    padding: 2px 5px;
}
.table_lang{
    cursor:pointer;
}

/*preloader*/
.pleloader_hover {
    z-index: 200;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #008f86;
    animation: preloader-5-spin 2s linear infinite;
}
.preloader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #54686f;
    animation: preloader-5-spin 3s linear infinite;
}
.preloader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9f0412;
    animation: preloader-5-spin 1.5s linear infinite;
}
.preloader_hide{

}

@keyframes preloader-5-spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1340px) {
    .conatiner{
        width: auto;
    }
    .sites{
        margin-top:10px;
        width:100%
    }
    .sites select{
        width:100%;
    }
    .tags{
        width: 100%;
        justify-content: space-between;
    }
}
.pagiantion_control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.pagiantion_control p{
    margin: 0px;
}
.pagination .page{
    border: 1px solid;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 5px;
    cursor:pointer;
}
.pagination .page:hover{
    box-shadow: inset 1px 1px 10px #d9d9d9;
}
.datepickers{
    display: flex;
}


.datepickers .vdp-datepicker{
    width: 110px;
}
.datepickers .vdp-datepicker input{
    width: 90px;
}
.vdp-datepicker__calendar header span{
    color:#fff;
    background-color: #9f0412;
}
.vdp-datepicker__calendar header span:hover{
    background-color: #008f86 !important;
}
.vdp-datepicker__calendar header span.prev::after{
    border-right: 10px solid #fff;
}
.vdp-datepicker__calendar header span.next::after{
    border-left: 10px solid #fff;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover{
    border: 1px solid #008f86 !important;
}

