<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <title>Новости</title>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="css.css">
</head>
<body>
<div class="conatiner">
    <div id="app">
        <div class="info">
            <div class="news_counter">
                Всего новостей: {{news.length}} из {{origin_news.length}}
            </div>
            <div class="actions">
                <div class="tags" v-if="site.length==0">
                    <div
                            v-for="(tag, index) in tags"
                            class="tag"
                            :class="activeTags.indexOf(tag)!=-1?'active':false"
                            @click="addTag(tag)"
                            >{{tag}} {{counters[tag]}}
                    </div>
                </div>
                <div class="site_info" v-else>
                    Новости компании: <a :href="site.name" target="_blank">{{site.name}}</a>
                    <span class="close" @click="closeSite()"> X </span>
                </div>
                <div class="langs">

                </div>
                <div class="sites">
                    <select name="sites"
                    @change="setSite($event)"
                    >
                        <option>Сайт</option>
                        <option v-for="(s, index) in sites"
                                :value="s.name">{{s.name}} ({{s.category}} / {{s.lang}}) - {{siteNewsCounter[s.name]}}</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Направление</th>
                <th>Дата</th>
                <th>Компания</th>
                <th>Язык</th>
                <th>Новость</th>
            </tr>
            <tr v-for = "(post, i) in news">
                <td>{{post.group_id}}</td>
                <td class="date">
                    {{date_tranform(post.news_date)}}
                </td>
                <td>{{post.site_id}}</td>
                <td>{{post.lang}}</td>
                <td>
                    <a :href="post.link" target="_blank">
                        {{post.title}}
                    </a>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>

<script src="js/js.js"></script>



</html>